/* Main CodeDojo Site CSS Document */

body {
  font-family: arial;
  padding: 0px; /* .container is used for the alternative body. */
}

.container {
  padding: 8px;
}

.header {
  background: #333;
  text-align: center;
  color: #FFF;
}
