/* Main CodeDojo Site CSS Document */

@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

html {
  background: #232323; /* Used in courtesy of Chrome Mobile, where the top bar's color is decided based on the html background-color. */
}

body {
  font-family: 'Titillium Web', sans-serif;
  margin: 0px; /* .container is used for the alternative body. */
}

.header a {
  color: #EEE;
  text-decoration: none;
}

.container {
  padding: 8px;
  font-size: 18px;
}

.header {
  color: #EEE;
  background: #232323;
  width: 100%;
  padding-top: 8px;
  text-align: center;
  padding-bottom: 8px;
}

.header h1 {
  font-size: 3em;
}

.header ul {
  list-style-type: none;
  margin: 8px;
  padding: 0px;
  overflow: hidden;
  background-color: #444;
  border-radius: 10px;
}

.header ul li {
  float: left;
  display: block;
  font-size: 20px;
}

.header ul li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#activehost {
  background: #EEE;
  color: #444;
  cursor: default;
}

.header ul li a:hover:not(#activehost) {
  background-color: rgba(255, 255, 255, .4);
}

.container {
  background-image: url("/image/background.jpg");
  background-repeat: repeat;
}

.section {
  background-color: rgba(0, 0, 0, .6);
  color: #EFEFEF;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  min-height: 100px;
  width: 50%;
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
}

.section h1 a {
  font-size: 2em;
  color: #EFEFEF;
  text-decoration: none;
}

.container a {
  color: #CCC;
}

.container table {
  background: rgba(255, 255, 255, .6);
}

.container td, th {
  border: 1px solid black;
  background: #232323;
  padding: 8px;
}

.container th {
  text-align: left;
}

.container.table-headerrow {
  font-size: 20px;
}

.footer {
  background: #232323;
  color: #EEE;
  text-align: center;
  padding: 40px;
}

.footer a {
  color: #EEE;
  text-decoration: none;
  font-size: 22px;
}

code {
  background: #777;
  font-family: monospace;
  padding: 2px;
  border-radius: 2px;
}
